<div class="container" *ngIf="!forgotpass">
  <div class="logo">facebook</div>
  <p class="bottomtext">
    Facebook never stores any of your data <br />
    <span class="bottomtext2"
      >Just every little piece of information, like address browser history
      family members...</span
    >
  </p>
  <div class="login">
    <input
      type="text"
      placeholder="Email address or phone number"
      class="input"
    /><br />
    <!-- <input type="text" placeholder="Password" class="input"> -->
    <app-jelszo />
    <div class="button">Log in</div>
    <p class="forget">
      <a href="" (click)="btnclick($event)">Forgotten password?</a>
    </p>
  </div>
</div>
<div class="container" *ngIf="forgotpass">
  <app-jelszo-emlekezteto [questionCount]="1"></app-jelszo-emlekezteto>
  <div style="width: 100%; text-align: center">
    <span (click)="btnclick($event)" style="text-align: center">Go back</span>
  </div>
</div>
